/*console*/

.console
{
    background-color: transparent;
    color: #333;
    font: 11px Consolas, Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    margin: 0;
    overflow-x: hidden;
    text-align: left;
    height: 200px;
    min-width: 300px;
    border: 1px solid rgba(20,53,80,0.1);
    background-color: #ffffff;
}

.demo-section .box-col .console
{
    width: 500px;
}

.console .count,
.km-root .km-android .console .count
{
    background-color: #91AFEF;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 10px;
    margin-left: 5px;
    padding: 2px 6px 2px 5px;
}

.console div
{
    background-position: 6px -95px;
    border-bottom: 1px solid #DDD;
    padding: 5px 5px 4px 24px;
}

.console .error
{
    background-position: 6px -135px;
}

/* Console Mobile */
.km-root .console
{
    margin: 2em;
    min-height: 10em;
    height: auto;
    overflow-y: auto;
}

.km-root .console div
{
    padding: 0;
    min-height: 2.5em;
    color: #333;
    font: normal .8em/2.5em monospace;
    vertical-align: middle;
    text-indent: .6em;
}

.km-root .console .count,
.km-root .km-android .console .count
{
    background-clip: border-box;
    background-color: #f00;
}

/*configurator*/

.centerWrap .configuration,
.configuration-horizontal
{
    float: right;
    margin: 0 0 0 15px;
    padding: 0 10px 10px 10px;
    border: 1px solid rgba(0,0,0,0.05);
    background-color: rgba(0,0,0,0.01);
    min-width: 170px;
    max-width: 300px;
}

.absConf .configuration
{
    position: absolute;
    top: -1px;
    right: -1px;
    height: auto;
    margin: 0;
    z-index: 2;
}

.configuration-horizontal
{
    position: static;
    height: auto;
    min-height: 0;
    max-width: 948px;
    margin: 0 0 10px;
    float:none;
    zoom: 1;
}

.configuration-horizontal-bottom
{
    margin: 20px -21px -21px;
    position: static;
    height: auto;
    min-height: 0;
    width: auto;
    float:none;
}

.configuration .configHead,
.configuration .infoHead,
.configuration-horizontal .configHead,
.configuration-horizontal .infoHead
{
    display: block;
    font-size: 13px;
    font-weight: bold;
    text-indent: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}


.configuration .configTitle,
.configuration-horizontal .configTitle
{
    font-size: 12px;
    display: block;
    line-height: 22px;
}

.configuration .options,
.configuration-horizontal .options
{
    list-style:none;
    margin: 0;
    padding: 0;
}

.configuration button,
.configuration-horizontal button
{
    margin: 0;
    vertical-align: middle;
}

.configuration .k-textbox,
.configuration-horizontal .k-textbox
{
    margin-left: 7px;
    width: 30px;
}

.configuration .options li { display: block; margin: 0; padding: 0.2em 0; zoom: 1; }

.configuration .options li:after,
.configuration-horizontal:after
{
    content: "";
    display: block;
    clear: both;
    height: 0;
}

.configuration-horizontal .config-section
{
    display: block;
    float: left;
    min-width: 200px;
    margin: 0;
    padding: 10px 20px 10px 10px;
}

.config-section.console-section
{
    width: 400px;
    float: right;
}

.configuration label,
.configuration input
{
    vertical-align: middle;
    line-height: 20px;
    margin-top: 0;
}

.configuration label
{
    float: left;
}

.configuration input
{
    width: 40px;
}

.configuration input,
.configuration select,
.configuration .k-numerictextbox
{
    float: right;
}

.configuration input.k-input
{
    float: none;
}

.configuration .k-button,
.configuration .k-widget
{
    margin-bottom: 3px;
}


.chart-wrapper,
.map-wrapper,
.diagram-wrapper {
    position: relative;
    width: 948px;
    height: 470px;
    margin: 0 auto 10px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.05);
    background-color: rgba(0,0,0,0.01)
}

#example.absConf .chart-wrapper,
#example.absConf .map-wrapper,
#example.absConf .diagram-wrapper
{
    margin-left: 0;
}

.chart-wrapper .k-chart,
.map-wrapper .k-map,
.diagram-wrapper .k-diagram {
    width: 948px;
    height: 470px;
}

.config-section .k-chart,
.config-section .k-map,
.config-section .k-diagram {
    width: 480px;
    height: 240px;
}

/* Box Styles */

.box {
    margin: 4.5em 7.5em;
    padding: 3em;
    background-color: rgba(20,53,80,0.038);
    border: 1px solid rgba(20,53,80,0.05);
}
.demo-section {
    margin: 4.5em auto;
    padding: 3em;
    border: 1px solid rgba(20,53,80,0.05);
}
.box:after,
.demo-section:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}
#example .box {
    margin: 4.5em auto;
}
.box.k-header,
.demo-section.k-header {
    background-position: 50% 70%;
}
html.k-flat .demo-section.k-header {
  background-color: #fff;
  color: #4c5356;
}

html.k-material .demo-section.k-header,
html.k-material .demo-section.k-content {
     background-color: #fefefe;
     border-color: #fefefe;
     box-shadow: 0 1px 2px 1px rgba(0,0,0,.10), 0 2px 5px rgba(0,0,0,.10);
     color: #444;
     font-weight: normal;
}

.box h4,
.demo-section h4 {
    margin-bottom: 1em;
    font-size: 12px;
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
.box-col {
    display: block;
    float: left;
    padding: 0 3em 1em 0;
}

.box li,
.demo-section .box-col li {
    margin-bottom: .6em;
}
.box li:last-child {
    margin-bottom: 0;
}

.box li a {
    font-size: 13px;
}

.box .k-widget {
    background-color: #ebeef0;
    border-color: #ccc;
    color: #7c7c7c;
}
.box .k-widget.k-slider {
    background-color: transparent;
}

.box .k-button {
    cursor: pointer;
    border-radius: 2px;
    font-size: inherit;
    color: #333;
    background: #e2e4e7;
    border-color: #e2e4e7;
    min-width: 90px;
    box-shadow: none;
}

.box .k-button:hover,
.box .k-button:focus:active:not(.k-state-disabled):not([disabled]),
.box .k-button:focus:not(.k-state-disabled):not([disabled]) {
    background: #cad0d6;
    border-color: #cad0d6;
    color: #000;
    box-shadow: none;
}

.box .k-primary {
    color: #fff;
    background: #015991;
    border-color: #015991;
}

.box .k-primary:hover,
.box .k-primary:focus:active:not(.k-state-disabled):not([disabled]),
.box .k-primary:focus:not(.k-state-disabled):not([disabled]) {
    background: #013A5E;
    border-color: #013A5E;
    color: #fff;
}

.box .k-textbox,
.box textarea {
    background: #fff;
    border-color: #e2e4e7;
    color: #555;
    border-radius: 2px;
}

.box .k-textbox:hover,
.box .k-textbox:active,
.box .k-textbox:focus,
.box textarea:hover,
.box textarea:active,
.box textarea:focus {
    border-color: #cad0d6;
    background: #fff;
    color: #333;
    box-shadow: none;
}

.demo-hint {
    line-height: 22px;
    color: #aaa;
    font-style: italic;
    font-size: .9em;
}