.km-nova p.added {
    color: green;
    font-size: .8em;
    margin: -.3em 0 0;
}

.item-list a.km-button {
    position: absolute;
    right: .6em;
    right: .6rem;
    top: 50%;
    margin-top: -1.3em;
}

#cart .km-listview {
    text-align: left;
}

/* Details View */
#details .km-content,
#cart .km-content,
#done .km-content {
    -webkit-box-sizing: border-box;
    text-align: center;
}

#details img {
    width: 8.4em;
    height: 8.4em;
    margin: 2em auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#details p {
    margin: 1em auto 3em;
}


/* Cart View */
#cart .price {
    color: #777;
    display: block;
    font-weight: normal;
    font-size: .8em;
    line-height: 1em;
}

.km-empty h2,
.km-empty #checkout {
    display: none;
}

#cartList:empty {
    height: 6em;
    line-height: 6em;
}

#cartList:empty:before {
    content: "Your cart is empty.";
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: #888;
}
#total {
    padding: .5em;
    font-size: 4em;
}